@import "../../../assets/styles/variables.scss";

.vote {
  font-size: 28px;
  font-weight: 600;
  display: flex;
  gap: 20px;
  align-items: center;

  .thumbUp,
  .thumbDown {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .thumbUp:hover path {
    fill: $green-dark;
  }

  .thumbDown:hover path {
    fill: $red;
  }

  .thumbUp.active path {
    fill: $green-dark;
  }

  .thumbDown.active path {
    fill: $red;
  }
}
