@import "../../../assets/styles/variables.scss";

.vote {
    font-size: 28px;
    font-weight: 600;

    display: flex;
    gap: 20px;
    align-items: center;



    .thumbUp, .thumbDown {
        width: 30px;
        height: 30px;
        cursor: pointer;

        path {
        fill: $black; // Серый по умолчанию
        transition: fill 0.3s ease;
        }

    }

    .thumbUp:hover {
      path {
        fill: $green-dark; // Зеленый при наведении
      }
    }

    .thumbDown:hover {
      path {
        fill: $red; // Зеленый при наведении
      }
    }
}