@import "../../../../assets/styles/variables.scss";

.card {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    gap: 40px;

    background-color: $green-light;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .cardContent {
        padding: 20px 0 30px 30px;
        .cardContentTop {
            display: flex;
            justify-content: space-between;
        }

        .cardSpeciality {
            color: $grey;
            margin-bottom: 30px;
        }

        .cardDescription {
            font-size: 24px;
            font-weight: 500;
            color: $grey;
        }

            .rank {
            font-size: 28px;
            font-weight: 600;
            color: $black;

            margin: 20px 0;

            span {
                font-weight: 600;

                img {
                    width: 24px;
                    height: 24px;
                    margin-left: 5px;
                }
            }
        }
        

        
    }

    .cardFooter {
        display: flex;
        justify-content: space-between;
    }

    .imgWrapper {
        width: 100%;
        max-height: 450px;
        flex: 0 0 350px;
        display: flex;
        align-items: stretch;
        border-radius: 10px;
        overflow: hidden;
    }
}