.articleForm {
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: relative;
    height: 90%;

    margin-top: 40px;

    .btnWrapper {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}