@import "../../../assets/styles/variables.scss";

.label {
    font-weight: 700;
    font-size: 20px;
    margin-left: 5px;
}

.customSelect {
  position: relative;

    .select {
        border: 0;
        border-radius: 8px;
        background-color: $grey-light;

        font-size: 18px;
        font-weight: 400;
        
        font-family: $font-montserrat;

        height: 50px;
        width: 100%;

        padding: 10px 20px;
        margin-top: 5px;

        appearance: none;
        cursor: pointer;

        &::placeholder {
            color: $grey;
        }

        &:focus {
            outline: 2px $grey solid;
        }

    }

    &::after {
            content: "";
            position: absolute;
            top: 55%;
            right: 25px;
            transform: translateY(-50%);
            width: 15px;
            height: 15px;
            background: url('../../../assets/images/icons/down-arrow.png') no-repeat center;
            background-size: contain;
            pointer-events: none;
        }

}