.articlesCard {
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin: 40px 0;
}

.sorting {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 20px;

    margin-top: 20px;
}