@import "../../../assets/styles/variables.scss";

.btn {
    height: 60px;
    width: 100%;
    padding: 15px 30px;

    border: 0;
    border-radius: 8px;

    font-size: 18px;
    font-weight: 600;

    transition: .2s all ease;

    &--white {
    color: $black;
    background-color: $white;
    }

    &--black {
    color: $white;
    background-color: $black;
    }

    &--green {
        background-color: $green;
        color: $white;
    }


    &:hover {
        transform: translateY(-3px);
    }

    &:focus {
        outline: 0;
        border: 0;
    }
}



