@import "../../../assets/styles/variables.scss";

.imageWrapper {
    width: inherit;
    height: inherit;
    background-color: $grey-light;
    border-radius: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .imagePlug {
        width: 60%;
    }

    .userAvatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}