@import "../../../../assets/styles/variables.scss";

.modalArticle {
    display: flex;
    flex-direction: column;
    height: 100%;;

    .imgWrapper {
        width: 100%;
        height: auto;

        border-radius: 10px;
        margin: 20px 0;
    }

    .modalDescription {
        font-size: 28px;
    }

    .modalContent {

    }

    .modalFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 40px 0;

        .modalArticleInfo {
            font-size: 26px;
            font-weight: 500;

            span {
                color: $grey;
            }
        }
    }
}