@import "../../assets/styles/variables";


.container {
    background-color: $green-dark;
    color: $white;

    padding: 80px 50px;
    position: relative;

    .hero {
        margin: 0 auto;
        max-width: 1400px;
        width: 100%;

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            margin: 20px 0 50px 0;
            
            img {
                max-width: 700px;
                min-width: 400px;
                width: 100%;
                height: auto;
            }
        }

        .btnWrapper {
           max-width: 600px;
           display: flex;
           justify-content: center;
           align-items: center;
           margin: 0 auto;
           gap: 20px;
        }
    }
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;

    margin: 50px 10%;
}