@import "../../../assets/styles/variables.scss";

.input {
    border: 0;
    border-radius: 8px;
    background-color: $grey-light;

    font-size: 18px;
    font-weight: 500;
    
    font-family: $font-montserrat;

    height: 50px;
    width: 100%;

    padding: 10px 20px;
    margin-top: 5px;

    &::placeholder {
        color: $grey;
    }

    &:focus {
        outline: 2px $grey solid;
    }
}