@import "../../../assets/styles/variables.scss";

.textarea {
    border: 0;
    border-radius: 8px;
    background-color: $grey-light;

    font-size: 20px;
    font-weight: 500;
    
    font-family: $font-montserrat;

    height: 250px;
    width: 100%;

    padding: 15px 20px;
    margin-top: 5px;

    resize: none;

    &::placeholder { 
        color: $grey;
    }

    &:focus {
        outline: 2px $grey solid;
    }
}