@import "../../../../assets/styles/variables.scss";


.btnWrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.modalMentor {
    display: flex;
    justify-content: space-between;
}

.modalContent {
    width: calc(100% - 440px);
    overflow: hidden;

    .modalName {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 40px;
    }

    .modalText {
        font-size: 24px;
        margin-bottom: 20px;
        
        span {
            font-size: 28px;
            font-weight: 500;            
        }
    }


}

.imgWrapper {
    width: 400px;
    height: 500px;
    border-radius: 10px;

    .plug {
        width: 100%;
        height: 100%;

        border-radius: 10px;
        background-color: $grey;
    }
}