@import "../../../assets/styles/variables.scss";

.featureMentors {
    margin-top: 40px;

    .mentorsCards {
        display: flex;
        flex-wrap: wrap;
        gap: 70px;
    }
}

.myMentor {
    margin-top: 40px;
}


.sectionTitle {
    margin-bottom: 20px;
}