@import "../../../assets/styles/variables.scss";

.featureMentors, .myMentor, .popularArticles {
    margin-top: 40px;
}

.mentorsCards {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}


.sectionTitle {
    margin-bottom: 20px;
}

