$grey: #757575;
$grey-dark: #5B5B5B;
$grey-light: #E5E5E5;
$white: #FFFFFF;
$black: #000000;
$green: #99DF87;
$green-dark: #70C37C;
$green-light: #E9FFE3;
$green-darker: #155724;
$red: #e44242;
$red-light: #f8d7da;
$red-dark: #721c24;
$yellow-dark: #856404; 
$yellow-light: #fff3cd;

$font-montserrat: "Montserrat", sans-serif;